<header>
  <h1 style="display: inline; height: 100%; float: left">
    <a href="/shelters">Shelters Index</a>
  </h1>
  <h1 style="display: inline; height: 100%; float: right; text-align: right">
    <a href="/pets">Pets Index</a>
  </h1>
</header>
<main>
<h1><%= @shelter.name %></h1>

<p>Address: <%= @shelter.address %></p>
<p>City: <%= @shelter.city %></p>
<p>State: <%= @shelter.state %></p>
<p>Zip: <%= @shelter.zip %></p>
<a href="/shelters/<%= @shelter.id %>/pets">View Pets</a>
<a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a>
<a href="/shelters/<%= @shelter.id %>/delete">Delete Shelter</a>
</main>
