
<main>
<h1>Pets</h1>
<br>
<br>
<% if favorites.contents.empty? %>
  <h4 style="color: red">These are not the pets you are looking for.</h4>
  <% else %>
<% @favorite_pets.each do |pet| %>
<div id="pet-<%= pet.id %>">
  <img class="pet-image" src=<%= pet.image %>>
  <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h3>
  <%= link_to "Unfavorite", "/favorites/#{pet.id}" %>
</div>
  <br>
  <br>
<% end %>
<h3><%= link_to "Remove All Favorites", "/favorites", method: :patch %></h3>
<h3><%= link_to "Apply for Adoption!", "/adoptions/new" %></h3>

<% end %>
</main>
