<header>
  <h1 style="display: inline; height: 100%; float: left">
    <a href="/shelters">Shelters Index</a>
  </h1>
  <h1 style="display: inline; height: 100%; float: right; text-align: right">
    <a href="/pets">Pets Index</a>
  </h1>
</header>
<main>
  <%= form_tag "/pets/#{@pet.id}", method: :patch do %>
<%= label_tag :name %><br>
<%= text_field_tag :name, value="#{@pet.name}"%><br>
<%= label_tag :image %><br>
<%= text_field_tag :image, value="#{@pet.image}"%><br>
<%= label_tag :description %><br>
<%= text_field_tag :description, value="#{@pet.description}"%><br>
<%= label_tag :age %><br>
<%= text_field_tag :age, value="#{@pet.age}"%><br>
<%= label_tag :sex %><br>
<%= text_field_tag :sex, value="#{@pet.sex}"%><br>
  <%= submit_tag 'Update Pet' %>
<% end %>
</main>
