<main>
  <h3>Name: <%= @adoption.name %></h3>
  <h3>Address: <%= @adoption.address %></h3>
  <h3>City: <%= @adoption.city %></h3>
  <h3>State: <%= @adoption.state %></h3>
  <h3>Zip: <%= @adoption.zip %></h3>
  <h3>Phone Number: <%= @adoption.phone_number %></h3>
  <h3>Description: <%= @adoption.description %></h3>
  <h2>Pets Applied for:</h2>
  <% @adoption.pets.each do |pet| %>
  <div id="adoption-pet-<%= pet.id %>">
    <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h3>
    <% if pet.adoption_status != "Adoptable" %>
      <h4 style="color: red">Pending Application for <%= pet.name %>. Call for more details.</h4>
    <% else %>
    <h3><a href="/pets/<%= pet.id %>/approve">Approve Application</a></h3>
    <% end %>
  </div>
  <% end %>

  </main>
