
<main>
  <%= form_tag "/shelters/#{@shelter.id}/#{@review.id}", method: :patch do %>
  <%= label_tag :title %><br>
  <%= text_field_tag :title, value="#{@review.title}" %><br>
  <%= label_tag :rating %>
  <select name="rating" id="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <%= label_tag :content %><br>
  <%= text_field_tag :content, value="#{@review.content}" %><br>
  <%= label_tag :image %><br>
  <%= text_field_tag :image, value="#{@review.image}" %><br>
  <%= submit_tag 'Update Review' %>
<% end %>
</main>
