<header>
  <h1 style="display: inline; height: 100%; float: left">
    <a href="/shelters">Shelters Index</a>
  </h1>
  <h1 style="display: inline; height: 100%; float: right; text-align: right">
    <a href="/pets">Pets Index</a>
  </h1>
</header>
<main>
  <%= form_tag "/shelters/#{@shelter.id}" do %>
  <%= label_tag :title %><br>
  <%= text_field_tag :title %><br>
  <%= label_tag :rating %><br>
  <%= text_field_tag :rating %><br>
  <%= label_tag :content %><br>
  <%= text_field_tag :content %><br>
  <%= label_tag :image %><br>
  <%= text_field_tag :image %><br>
  <%= submit_tag 'Add Review' %>
<% end %>
</main>
